body {
    background-color: rgb(184, 235, 248);
}

.boards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.title, .status {
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.status {
    font-size: 20px;
}

td.letter, .keyboardLetter {
    width: 50px;
    height: 50px;
    table-layout: fixed;
    text-align: center;
    border: 1px solid black;
}

.keyboardLetter {
    background-color: white;
}

.keyboardRow {
    margin-left: auto;
    margin-right: auto;
}